<% processing = 'processing...' %>
<section id="personal_information">
	<div class="page-header"><h1>About Yourself</h1></div>
	<table class="table table-hover table-condensed table-striped table-bordered">
		<tbody>
			<tr>
				<td>Name</td>
				<td><%= @me.try(:[],'name') || processing %></td>
			</tr>
			<tr>
				<td>Birthday</td>
				<td><%= @me.try(:[],'birthday') || processing  %></td>
			</tr>			
			<tr>
				<td>Hometown</td>
				<td><%= @me.try(:[],'hometown').try(:[],'name') || processing  %></td>
			</tr>
			<tr>
				<td>Work</td>
				<td><%#= "#{@me['work'][0]['position']['name']} at #{@me['work'][0]['employer']['name']}" || '-'  %></td>
			</tr>
			<tr>
				<td>Opened Facebook on</td>
				<td><%= "#{}" || '-'  %></td>
				<!-- http://stackoverflow.com/questions/7332957/determine-when-user-created-facebook-account -->
				<!-- November 3, 2007 -->
			</tr>			
		</tbody>
	</table>
</section>

<%# p = fb.user_feeds %>
<section id="posts_information">
<!-- http://developers.facebook.com/docs/reference/api/post/ -->
<!-- https://graph.facebook.com/me/feed -->
<!-- 
counting rows:
http://blogs.x2line.com/al/archive/2007/10/07/3287.aspx
SELECT '' 
  FROM user 
 WHERE uid IN (SELECT uid2 
                 FROM friend 
                WHERE uid1 = USERID)
   AND has_added_app = 1


SELECT post_id, type, message,description, permalink 
FROM stream 

WHERE 
source_id= me() and actor_id = me() 
and (message != "")
and created_time < 1285891200 
LIMIT 5000
 -->
	<div class="page-header"><h1>Your Posts</h1></div>
	<table class="table table-hover table-condensed table-striped table-bordered">
		<tbody>
			<tr>
				<td>Total Wall Posts</td>
				<td><%#= "#{p.count}" || processing  %></td>
			</tr>
			<tr>
				<!-- f.map{|t| t.try(:[], 'likes').try(:[],'count')}.compact -->
				<td>10 Top Most Liked Posts</td>
				<td><%= "#{}" || processing  %></td>
			</tr>
			<tr>
				<!-- f.map{|t| [t.try(:[], 'comments').try(:[],'count'), t['id']]}.compact.sort -->
				<td>10 Top Most Commented Posts</td>
				<td><%= "#{}" || processing  %></td>
			</tr>			
		</tbody>
	</table>
</section>

<section id="friends_information">
	<div class="page-header"><h1>Friends</h1></div>
	<table class="table table-hover table-condensed table-striped table-bordered">
		<tbody>
			<tr>
				<td>Friends Count</td>
				<td><%= @friend_ids.try(:count) || processing %></td>
			</tr>
			<tr>
				<td>Groups</td>
				<td><%= "" || processing  %></td>
			</tr>				
		</tbody>
	</table>
	<div>Graph</div>
	<div>History</div>
	<div>Locations (where are your friends now?)</div>
	<div>Single Friends</div>
</section>