<%- model_class = @user.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

<div class="page-header">
  <h1>Details</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Social Networks:</strong></dt>
  <dd><%= @user.authentications.map { |e| e.provider }.join(', ') %></dd>
</dl>

<hr>
<h3>Facebook</h3>
<hr>
<b>You already know...</b>
<dl class="dl-horizontal">
  <% u = @user.facebook.get_object('me') %>
  <dt><strong>Name:</strong></dt><dd><%= u['name'] || '-' %></dd>
  <dt><strong>Hometown:</strong></dt><dd><%= u['hometown']['name'] || '-'  %></dd>
  <dt><strong>Work:</strong></dt><dd><%= "#{u['work'][0]['position']['name']} at #{u['work'][0]['employer']['name']}" || '-'  %></dd>
</dl>

<b>Did you know that...? </b>
<dl class="dl-horizontal">
  <% f = @user.facebook_friends %>
  <dt><strong>Friends Count:</strong></dt><dd><%= f.count %></dd>
</dl>

<hr>
<h3>Twitter</h3>
<hr>
<b>You already know...</b>
<dl class="dl-horizontal">
  <% t = @user.twitter %>
  <dt><strong>Username:</strong></dt><dd><%= t.subject[:screen_name] || '-'  %></dd>
  <dt><strong>Description:</strong></dt><dd><%= t.subject[:description] || '-'  %></dd>
  <dt><strong>Favorites:</strong></dt><dd><%= t.subject[:favourites_count] || '-'  %></dd>
  <dt><strong>Following:</strong></dt><dd><%= t.friend_ids(1.minute).count || '-'  %></dd>
  <dt><strong>Followers:</strong></dt><dd><%= t.follower_ids.count || '-'  %></dd>
</dl>

<b>Did you know that...? </b>


